* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", serif;
}

img {
    border-radius: 100px;
}

h1 {
    padding: 20px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 5px;
}

p {
    padding: 5px;
}

#profile {
    text-align: center;
}